<div class="row">

    {{# each dailydeals }}
        <div class="col-md-3" >
            <div class="well" align="center">
                <article class="">
                    <img src="{{this.image}}" width="130"><br><br>
                        {{this.brand}} {{this.desc}} {{ this.item }} <br>
                    <p style="color: #2bb24c"><b>{{this.promotion}}</b></p>
                    <p><strike>LKR{{this.price}}</strike>
                        <font style="color: red" size="4"><b> LKR  {{this.newPrice}} </b></font></p>


                </article>
            </div>
        </div>
    {{/each}}


</div>