<!--<h1>Home is here</h1>-->

<style>
    .col-md-2{
        padding-left: 0px;
        padding-right: 8px;

    }

    .well{
        text-align: center;
        padding: 6px;
    }

    p{
        margin-top:0px;
        margin-bottom: 3px;
    }
    .panel-title {
        border-radius: 6px;

        background-color: #3897da;
        color: white;
        padding: 9px;
    }
</style>

<div class="row">

        {{# each fruits }}
        <div class="col-md-3">
        <div class="well"  style="height: 270px;" align="center">
            <article class="item">
                <img src="{{this.image}}" width="130">
                <table align="center">
                    <tr>
                        <td><b>Item:</b></td>
                        <td>{{ this.name }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Brand: </b>
                        </td>
                        <td>
                            {{ this.brand }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Details: </b>
                        </td>
                        <td>
                            {{ this.desc }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <b>  Price:</b>
                        </td>
                        <td>
                            <p>LKR {{ this.price }}</p>
                        </td>
                    </tr>
                </table>

                <!--<p>{{this.category}}</p>-->
            </article>
        </div>
        </div>
        {{/each}}
</div>

<h3 class="panel-title">Electronics</h3>
<div class="row">

    {{# each electronics }}
        <div class="col-md-3">
            <div class="well"  style="height: 270px;">
                <article class="item">
                    <img src="{{this.image}}" width="130">
                    <table align="center">
                        <tr>
                            <td><b>Item:</b></td>
                            <td>{{ this.name }}</td>
                        </tr>
                        <tr>
                            <td>
                                <b>Brand: </b>
                            </td>
                            <td>
                                {{ this.brand   }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Details: </b>
                            </td>
                            <td>
                                {{ this.desc }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  Price:</b>
                            </td>
                            <td>
                                <p>LKR {{ this.price }}</p>
                            </td>
                        </tr>
                    </table>

                </article>
            </div>
        </div>
    {{/each}}
</div>

<h3 class="panel-title">Vegetables</h3>
<h3 class="panel-title">Fruits</h3>
<h3 class="panel-title">Canned Food</h3>