<!--<h1>Home is here</h1>-->

<style>
    .col-md-2{
        padding-left: 0px;
        padding-right: 8px;

    }

    .well{
        text-align: center;
        padding: 6px;
    }

    p{
        margin-top:0px;
        margin-bottom: 3px;
    }
    .panel-title {
        border-radius: 6px;

        background-color: #3897da;
        color: white;
        padding: 9px;
    }

   .head-title{
        visibility: hidden;
    }
</style>

<h3 class="panel-title">Electronics</h3>
<div class="row">
{{# each electronics}}
    <div class="col-md-3">
        <div class="well"  style="height: 200px;">
            <article class="item">
                <img src="{{this.image}}" height="120"><br>
                {{this.brand}} {{this.desc}} {{this.name}}
                <p> <b>LKR {{this.price}} </b></p>
            </article>
        </div>
    </div>
{{/each}}
</div>
<br>

<h3 class="panel-title">Vegetables</h3>
<div class="row">
    {{# each vegetables}}
        <div class="col-md-3">
            <div class="well"  style="height: 200px;">
                <article class="item">
                    <img src="{{this.image}}" height="120" style="max-width: 200px;"><br>
                    {{this.brand}} {{this.desc}} {{this.name}}
                    <p> <b>LKR {{this.price}} </b></p>
                </article>
            </div>
        </div>
    {{/each}}
</div>
<br>

<h3 class="panel-title">Fruits</h3>
<div class="row">
    {{# each fruits}}
        <div class="col-md-3">
            <div class="well"  style="height: 200px;">
                <article class="item">
                    <img src="{{this.image}}" height="120"><br>
                    {{this.brand}} {{this.desc}} {{this.name}}
                    <p> <b>LKR {{this.price}} </b></p>
                </article>
            </div>
        </div>
    {{/each}}
</div>
<br>

<h3 class="panel-title">Beverages</h3>
<div class="row">
    {{# each beverages}}
        <div class="col-md-3">
            <div class="well"  style="height: 200px;">
                <article class="item">
                    <img src="{{this.image}}" height="120"><br>
                    {{this.brand}} {{this.desc}} {{this.name}}
                    <p> <b>LKR {{this.price}} </b></p>
                </article>
            </div>
        </div>
    {{/each}}
</div>
<br>



<h3 class="panel-title">Personal</h3>
<div class="row">
    {{# each personal}}
        <div class="col-md-3">
            <div class="well"  style="height: 200px;">
                <article class="item">
                    <img src="{{this.image}}" height="120"><br>
                    {{this.brand}} {{this.desc}} {{this.name}}
                    <p> <b>LKR {{this.price}} </b></p>
                </article>
            </div>
        </div>
    {{/each}}
</div>
<br>


<h3 class="panel-title">Paper</h3>
<div class="row">
    {{# each paper}}
        <div class="col-md-3">
            <div class="well"  style="height: 200px;">
                <article class="item">
                    <img src="{{this.image}}" height="120"><br>
                    {{this.brand}} {{this.desc}} {{this.name}}
                    <p> <b>LKR {{this.price}} </b></p>
                </article>
            </div>
        </div>
    {{/each}}
</div>
<br>


