<style>
    input,textarea, select  {
        margin: 10px;
    }

    input[type=checkbox]{
        margin-left: 15px;
    }
</style>

<!--<div class="row" style="margin: 0px;">-->
    <!--<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" align="center">-->
        <!--<div class="alert alert-success" style=" position: absolute; top: -70px;z-index: 1" id="smsg">-->
            <!--<strong>Item added Successfully!</strong>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--<script src="../node_modules/sweetalert/dist/sweetalert.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">-->

<div class="row">
    <div class="col-md-5">
        <div class="well" style="">
            <h3 align="center">Add New Item</h3>
            <form action="items/additem" method="post" >
            <table>
                <tr>
                    <td>Item Name: </td>
                    <td><input type="text" name="item_name" required ></td>
                </tr>

                <tr>
                    <td>Description:  </td>
                    <td><textarea name="item_desc"></textarea></td>
                </tr>

                <tr>
                    <td>Category: </td>
                    <td>
                        <select name="item_category" id="item_category">
                            {{# each categories }}
                                <article class="category">
                                    <option value={{this.value}}>  {{this.name}}</option>
                                </article>
                            {{/each}}

                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Item Code: </td>
                    <td><input type="text" name="item_code" id="item_code"></td>
                </tr>

                <tr>
                    <td>Brand: </td>
                    <!--<td><input type="text" name="item_brand"></td>-->
                    <td>
                        <select id="item_brand" name="item_brand">
                            {{# each brands }}
                                <article class="unit">
                                    <option value={{this.value}}>  {{this.name}}</option>


                                </article>
                            {{/each}}

                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Unit: </td>
                    <td>
                        <select name="item_unit">
                            {{# each units }}
                                <article class="unit">
                                    <option value={{this.value}}>  {{this.name}}</option>


                                </article>
                            {{/each}}

                            <option value="lt">Litres</option>
                            <option value="nos">NOS</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Price: (LKR) </td>
                    <td><input type="text" name="item_price">
                    </td>
                </tr>
                <tr>
                    <td>Location (Row)</td>
                    <td>
                        <select id="loc_row" name="loc_row">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                            <option>F</option>
                            <option>G</option>
                            <option>H</option>
                            <option>I</option>
                            <option>J</option>
                            <option>K</option>
                            <option>L</option>
                            <option>M</option>
                            <option>N</option>
                            <option>O</option>
                            <option>P</option>
                            <option>Q</option>
                            <option>R</option>
                            <option>S</option>
                            <option>T</option>
                            <option>U</option>
                            <option>V</option>
                            <option>W</option>
                            <option>X</option>
                            <option>Y</option>
                            <option>Z</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Location (Shlef)</td>
                    <td>
                        <select id="loc_shelf" name="loc_shelf">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Image: </td>
                    <td><input type="file" id="item-image-upload"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><img src="" id="item-image" width="150px"> </td>

                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" value="Add Item"></td>
                </tr>


            </table>
                <input type="hidden" name="item_image" id="item_image" value="">
            </form>
        </div>

    </div>

    <div class="col-md-5" align="center">
        <div class="well">
            Update Item <br>
            <form action="items/get-data" method="get">
            <table>
                <tr>
                    <td>
                        Search Item:
                    </td>
                    <td>
                        <select name="item_name" id="search_item_name">
                            {{# each items }}
                                <article class="item">
                                    <option value={{this.image}}>  {{this.name}} ({{this.code}})</option>



                                </article>
                                <!--<input type="hidden" value="{{this.image}}" id="search_image_src">-->
                            {{/each}}
                        </select>
                    </td>
                </tr>
<tr>
  <td colspan="2" align="center">  <img src="" width="130px" id="search_item"> </td>
    <td><input type="hidden" id="search_value"></td>
</tr>

                <tr>
                    <td colspan="2" align="center">

                        <input type="button" class="btn btn-primary" value="Search">

                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
    <div class="col-md-4">
        <form action="items/deleteitem" method="post">
        <div class="well">
            Delete<br>
            Search Item: <select name="del_item" id="del_item">
            {{# each items }}
                <article class="item">
                    <option value={{this.code}}>  {{this.name}} ({{this.code}})</option>
                </article>
            {{/each}}
        </select>

            <input type="submit" class="btn btn-primary" value="Delete" >

        </div>
    </div>
    </form>
</div>

<div>




</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="javascripts/imageUpload.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

//    $(document).ready(function(){
//        $("#item_category").change(function () {
//            $("#item_code").val(this.value);
//        });
////        $('#item_category').change(function () {
////            $('#item_code').val("CR");
////        });
//    });


//



</script>
